**/.env
skill-project/sk2/training/All/model-best-C_R_A_F/config.cfg
skill-project/sk2/training/All/model-best-C_R_A_F/meta.json
skill-project/sk2/training/All/model-best-C_R_A_F/metrics.json
skill-project/sk2/training/All/model-best-C_R_A_F/tokenizer
skill-project/sk2/training/All/model-best-C_R_A_F/ner/cfg
skill-project/sk2/training/All/model-best-C_R_A_F/ner/model
skill-project/sk2/training/All/model-best-C_R_A_F/ner/moves
skill-project/sk2/training/All/model-best-C_R_A_F/tok2vec/cfg
skill-project/sk2/training/All/model-best-C_R_A_F/tok2vec/model
skill-project/sk2/training/All/model-best-C_R_A_F/vocab/key2row
skill-project/sk2/training/All/model-best-C_R_A_F/vocab/lookups.bin
skill-project/sk2/training/All/model-best-C_R_A_F/vocab/strings.json
skill-project/sk2/training/All/model-best-C_R_A_F/vocab/vectors
skill-project/sk2/training/All/model-best-C_R_A_F/vocab/vectors.cfg
skill-project/sk2/training/All/model-best-C_R_A_P/config.cfg
skill-project/sk2/training/All/model-best-C_R_A_P/meta.json
skill-project/sk2/training/All/model-best-C_R_A_P/metrics.json
skill-project/sk2/training/All/model-best-C_R_A_P/tokenizer
skill-project/sk2/training/All/model-best-C_R_A_P/ner/cfg
skill-project/sk2/training/All/model-best-C_R_A_P/ner/model
skill-project/sk2/training/All/model-best-C_R_A_P/ner/moves
skill-project/sk2/training/All/model-best-C_R_A_P/tok2vec/cfg
skill-project/sk2/training/All/model-best-C_R_A_P/tok2vec/model
skill-project/sk2/training/All/model-best-C_R_A_P/vocab/key2row
skill-project/sk2/training/All/model-best-C_R_A_P/vocab/lookups.bin
skill-project/sk2/training/All/model-best-C_R_A_P/vocab/strings.json
skill-project/sk2/training/All/model-best-C_R_A_P/vocab/vectors
skill-project/sk2/training/All/model-best-C_R_A_P/vocab/vectors.cfg
skill-project/sk2/training/IT1/model-best-C_R_A/config.cfg
skill-project/sk2/training/IT1/model-best-C_R_A/meta.json
skill-project/sk2/training/IT1/model-best-C_R_A/metrics.json
skill-project/sk2/training/IT1/model-best-C_R_A/tokenizer
skill-project/sk2/training/IT1/model-best-C_R_A/ner/cfg
skill-project/sk2/training/IT1/model-best-C_R_A/ner/model
skill-project/sk2/training/IT1/model-best-C_R_A/ner/moves
skill-project/sk2/training/IT1/model-best-C_R_A/tok2vec/cfg
skill-project/sk2/training/IT1/model-best-C_R_A/tok2vec/model
skill-project/sk2/training/IT1/model-best-C_R_A/vocab/key2row
skill-project/sk2/training/IT1/model-best-C_R_A/vocab/lookups.bin
skill-project/sk2/training/IT1/model-best-C_R_A/vocab/strings.json
skill-project/sk2/training/IT1/model-best-C_R_A/vocab/vectors
skill-project/sk2/training/IT1/model-best-C_R_A/vocab/vectors.cfg
skill-project/sk2/training/IT2/model-best-C_R_A/config.cfg
skill-project/sk2/training/IT2/model-best-C_R_A/meta.json
skill-project/sk2/training/IT2/model-best-C_R_A/metrics.json
skill-project/sk2/training/IT2/model-best-C_R_A/tokenizer
skill-project/sk2/training/IT2/model-best-C_R_A/ner/cfg
skill-project/sk2/training/IT2/model-best-C_R_A/ner/model
skill-project/sk2/training/IT2/model-best-C_R_A/ner/moves
skill-project/sk2/training/IT2/model-best-C_R_A/tok2vec/cfg
skill-project/sk2/training/IT2/model-best-C_R_A/tok2vec/model
skill-project/sk2/training/IT2/model-best-C_R_A/vocab/key2row
skill-project/sk2/training/IT2/model-best-C_R_A/vocab/lookups.bin
skill-project/sk2/training/IT2/model-best-C_R_A/vocab/strings.json
skill-project/sk2/training/IT2/model-best-C_R_A/vocab/vectors
skill-project/sk2/training/IT2/model-best-C_R_A/vocab/vectors.cfg
skill-project/sk2/training/All/model-best-C_R_A_R/config.cfg
skill-project/sk2/training/All/model-best-C_R_A_R/meta.json
skill-project/sk2/training/All/model-best-C_R_A_R/metrics.json
skill-project/sk2/training/All/model-best-C_R_A_R/tokenizer
skill-project/sk2/training/All/model-best-C_R_A_R/ner/cfg
skill-project/sk2/training/All/model-best-C_R_A_R/ner/model
skill-project/sk2/training/All/model-best-C_R_A_R/ner/moves
skill-project/sk2/training/All/model-best-C_R_A_R/tok2vec/cfg
skill-project/sk2/training/All/model-best-C_R_A_R/tok2vec/model
skill-project/sk2/training/All/model-best-C_R_A_R/vocab/key2row
skill-project/sk2/training/All/model-best-C_R_A_R/vocab/lookups.bin
skill-project/sk2/training/All/model-best-C_R_A_R/vocab/strings.json
skill-project/sk2/training/All/model-best-C_R_A_R/vocab/vectors
skill-project/sk2/training/All/model-best-C_R_A_R/vocab/vectors.cfg
